/*Navigation Bar*/
#logo-img{
    border-radius: 200px;
}
nav{
    background-color: #FFCC00;
    margin-bottom: -10px;
}
nav.navbar {
  display: flex;
  justify-content: space-between; /* Distributes space between the logo and nav items */
  align-items: center; /* Vertically centers items */
  padding: 10px 20px; /* Adds padding around the nav bar */
  margin-top: -10px;
 }

.navbar a:hover{
    background-color: #f2dcb0;
    padding: 10px;
    border-radius: 6px;
    color: #a65317;
    margin-bottom: -800px;

}

.navbar .logo {
  flex: 1; /* Allows the logo to take up available space */
  margin-left: 40px;
}

.navbar .nav-items {
  display: flex;
  flex: 2; /* Allows the nav items to take up available space */
  justify-content: center; /* Centers the nav items horizontally */
}

.navbar .nav-items a {
  margin: 0 20px; /* Space between each nav item */
  text-decoration: none; /* Removes underline from links */
  color: #990000; /* Text color for nav items */
  font-size: 15px; /* Font size for nav items */
  text-transform: uppercase; /* Makes nav item text uppercase */
}

.container{
  display: flex;
  background: #fca4b4

}

.wrapper{
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  padding: 20px;
  color: #fffbea;
}

#text-edu{
  flex: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left; 
}

#container-image{
  border-radius: 30px;
}

#container-text{
  margin-right: 40px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: auto;
}

/* Slide styling */
.slide {
    display: none;
    position: absolute;
     width: 100%;
    height: 100%;
}

.slide img {
    object-fit: cover;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dot indicators */
.dots {
    text-align: center;
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}



/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: -webkit-xxx-large;
}

h2{
    font-size: xx-large;
}
h3{
    font-size: large;
}
/* Set default font and background color */
body {
    /*font-family: Arial, sans-serif;*/
    background-color: #fffbea;
    color: #333;
}

/* Header styling */
header {
    background-color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

 /* Hero section styling */
#hero {
    background: url('images/campus.gif') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffbea;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.2em;
} 

/* Features section styling */
#features {
    display: flex;
    justify-content: space-between;
    padding: 40px 10px;
}

.feature {
    background: #990000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 10px;
    text-align: center;
    color: #fffbea;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.feature h2 {
    margin-bottom: 10px;
}


/* TIMETABLE - Main section styling */
main {
    padding: 20px;
}
.break{
    background-color: #cf85cf;
}
.groupr{
    background-color: #55b3d3;
}
.research{
    background-color: #FFCC00;
}
/* Filter section styling */
.filter-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filter-section label {
    margin-right: 10px;
}

/* Timetable section styling */
#timetable-info{
    color: #990000;
}

#semester{
    color: #990000;
}

.timetable-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 70px;
}

.timetable-section th, .timetable-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.timetable-section th {
    background-color: #990000;
    color: #fffbea;
}

.module:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
    .timetable-section table {
        font-size: 0.8em;
    }

    .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-section label {
        margin-bottom: 10px;
    }
}

/* Footer styling */
footer {
    background-color: #FFCC00;
    color: #990000;
    padding: 20px 0;
    text-align: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content li {
    display: inline;
    margin: 0 10px;
}

.footer-content a {
    color: #990000;
    text-decoration: none;
}

.social-media {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}


/* Responsive design */
@media (max-width: 768px) {
    #features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 80%;
        margin-bottom: 20px;
    }
    /*social media icons*/
.fa {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
}


/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 90%;
    }

    .container, .wrapper {
        margin: 0 2%;
        padding: 1rem;
    }

    .nav-items {
        flex-direction: column;
    }

    .nav-items a {
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    .content, .social-media {
        flex-direction: column;
    }
}

/* Media Queries for very small screens */
@media screen and (max-width: 480px) {
    body {
        font-size: 80%;
    }

    .container, .wrapper {
        margin: 0 1%;
        padding: 0.5rem;
    }

    .nav-items a {
        font-size: 0.8rem;
    }

    .content, .social-media {
        flex-direction: column;
    }
}
